body {
	background-color: #000;
	font-family: 'Open Sans', sans-serif;
}

.content {
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 15px;
	border-radius: 15px;
	background-image: linear-gradient(89deg, #E2E1E0 0%, #FDFDFD 50%, #E2E1E0 100%);
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.title {
	text-align: center;
	padding: 50px 15px;
	color: #888;
	font-weight: 300;
	font-size: 30px;
}

small {
	font-size: 30px;
}

.grad-border {
	border-radius: 100%;
	background-color: red;
	width: 180px;
	padding: 5px;
	border: 4px solid #E2E1E0;
	background-image: linear-gradient(-1deg, #CF7E6E 0%, #7BA2AB 100%);
	margin: 0 auto;
}

.hide {
	opacity: 0;
}

#set_temp {
	text-align: center;
	font-size: 64px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
	background-image: linear-gradient(-25deg, #DCDBDA 0%, #FEFEFE 100%);
	color: #606060;
	font-weight: 300;
	margin: 0 auto;
	width: 150px;
	height: 130px;
	border-radius: 100%;
	padding: 15px;
	padding-top: 55px;
	padding-bottom: 0;
	position: relative;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

#show_temp {
	text-align: center;
	font-size: 54px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
	background-image: linear-gradient(-25deg, #DCDBDA 0%, #FEFEFE 100%);
	color: #606060;
	font-weight: 300;
	margin: 0 auto;
	width: 90px;
	height: 85px;
	border-radius: 100%;
	padding: 15px;
	padding-top: 35px;
	padding-bottom: 0;
	position: absolute;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	opacity: 1;
}

#set_temp .set, #show_temp .set {
	position: absolute;
	font-size: 14px;
	color: #999;
	left: 80px;
	top: 25px;
	font-weight: bold;
}

#set_temp .deg, #show_temp .deg {
	font-size: 24px;
	color: #888;
	position: absolute;
	left:74px;
	font-weight: normal;
	bottom: 25px;
}

.left, .right {
	float: left;
	width: 50%;
	text-align: center;
	
}

.up, .lower {
	background-image: linear-gradient(-25deg, #DCDBDA 0%, #FEFEFE 100%);
	display: inline-block;
	padding: 5px;
	padding-top: 9px;
	padding-bottom: 0;
	width: 30px;
	height: 31px;
	border-radius: 100%;
	cursor: pointer;
	color: #606060;
	font-size: 20px;
}

.up {
	padding-top:10px;
	height: 31px;
}

.lower {
	height: 32px;
}
.lower-border {
	background-color: #7EA0A7;
	display: inline-block;
	height: 41px;
	padding: 2px;
	margin-top: 45px;
	border-radius: 100%;
	border: 4px solid #E2E1E0;
}

.up-border {
	background-color: #CE7F6F;
	display: inline-block;
	height: 41px;
	padding: 2px;
	margin-top: 45px;
	border-radius: 100%;
	border: 4px solid #E2E1E0;
}

.up:hover, .lower:hover {
	background-image: linear-gradient(-175deg, #DCDBDA 0%, #FEFEFE 100%);
}

.middle {
	float: left;
	width: 100%;
	position: relative;
	z-index: 2;
}

.bottom {
	margin-top: 80px;
	margin-left: -15px;
	margin-right: -15px;
	border-top: 4px solid #E2E1E0;
	font-size: 14px;
}

.eco, .comf, #get_temp {
	float: left;
	padding: 30px 15px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.lights {
	float: left;
	width: 100%;
}

.lights div {
	width: calc(50% - 30px);
	padding: 15px;
	float: left;
	text-align: center;
	background-color: #333;
	color: #fff;
}

.lights-off img {
	opacity: 0.7;
}

.lights img {
	width: 64px;
	height: auto;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.eco {
	color: #fff;
	background-color: #AEC06A;
	width: calc(35% - 30px);
	background-image: linear-gradient(-180deg, #AEC06A 0%, #748339 100%);
	cursor: pointer;
}

.eco:hover {
	background-image: linear-gradient(0deg, #AEC06A 0%, #748339 100%);
}

.comf {
	width: calc(35% - 30px);
	background-color: #E8775F;
	background-image: linear-gradient(-180deg, #E8775F 0%, #C85542 100%);
	cursor: pointer;
	color: #fff;
}

.comf:hover {
	background-image: linear-gradient(0deg, #E8775F 0%, #C85542 100%);
}

#get_temp {
	width: calc(30% - 30px);
	background-color: #D9D9D7;
	background-image: linear-gradient(-180deg, #D9D9D7 0%, #A7A7A6 100%);
}

.error {
	text-align: center;
	font-size: 16px;
	padding-bottom: 60px;
	font-weight: 300;
}

.error a {
	color: #AEC06A;
	text-decoration: none;
	font-weight: bold;
	font-size: 40px;
}

@media only screen and (max-width: 420px) {
	.content {
		margin-top: 0px;
		border-radius: 0px;
		height: 100vh;
	}
	.bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
@media only screen and (max-width: 330px) {
	.bottom {
		font-size: 12px;
	}
}

@media only screen and (max-height: 650px) {
	.title {
		padding: 30px 15px;
	}
	.eco, .comf, #get_temp {
		padding: 20px 15px;
	}
	.lower-border, .up-border {
		margin-top: 25px;
	}
}

@media only screen and (max-height: 550px) {
	.title {
		display: none;
	}
	.middle {
		margin-top: 25px;
	}
	
	.lower-border, .up-border {
		margin-top: 15px;
	}
}
